In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import datasets from 01/2017-12/2019
df1701 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201701-citibike-tripdata.csv', index_col=False)
df1702 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201702-citibike-tripdata.csv', index_col=False)
df1703 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201703-citibike-tripdata.csv', index_col=False)
df1704 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201704-citibike-tripdata.csv', index_col=False)
df1705 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201705-citibike-tripdata.csv', index_col=False)
df1706 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201706-citibike-tripdata.csv', index_col=False)
df1707 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201707-citibike-tripdata.csv', index_col=False)
df1708 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201708 citibike-tripdata.csv', index_col=False)
df1709 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201709-citibike-tripdata.csv', index_col=False)
df1710 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201710-citibike-tripdata.csv', index_col=False)
df1711 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201711-citibike-tripdata.csv', index_col=False)
df1712 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201712-citibike-tripdata.csv', index_col=False)
df1801 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201801-citibike-tripdata.csv', index_col=False)
df1802 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201802_citibikenyc_tripdata.csv', index_col=False)
df1803 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201803_citibikenyc_tripdata.csv', index_col=False)
df1804 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201804-citibike-tripdata.csv', index_col=False)
df1805 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201805-citibike-tripdata.csv', index_col=False)
df1806 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201806-citibike-tripdata.csv', index_col=False)
df1807 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201807-citibike-tripdata.csv', index_col=False)
df1808 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201808-citibike-tripdata.csv', index_col=False)
df1809 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201809-citibike-tripdata.csv', index_col=False)
df1810 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201810-citibike-tripdata.csv', index_col=False)
df1811 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201811-citibike-tripdata.csv', index_col=False)
df1812 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201812-citibike-tripdata.csv', index_col=False)
df1901 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201901-citibike-tripdata.csv', index_col=False)
df1902 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201902-citibike-tripdata.csv', index_col=False)
df1903 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201903-citibike-tripdata.csv', index_col=False)
df1904 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201904-citibike-tripdata.csv', index_col=False)
df1905 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201905-citibike-tripdata.csv', index_col=False)
df1906 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201906-citibike-tripdata.csv', index_col=False)
df1907 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201907-citibike-tripdata.csv', index_col=False)
df1908 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201908-citibike-tripdata.csv', index_col=False)
df1909 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201909-citibike-tripdata.csv', index_col=False)
df1910 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201910-citibike-tripdata.csv', index_col=False)
df1911 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201911-citibike-tripdata.csv', index_col=False)
df1912 = pd.read_csv(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Original Data/201912-citibike-tripdata.csv', index_col=False)

In [4]:
pd.set_option('display.max_columns', None)

In [15]:
df1912

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672815,-73.983524,27746,Subscriber,1935,2
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [16]:
# Renaming columns
df1701.rename(columns={'Trip Duration': 'trip_duration', 'Start Time': 'start_time', 'Stop Time': 'stop_time', 'Start Station ID': 'start_station_id', 'Start Station Name': 'start_station_name', 'Start Station Latitude': 'start_station_latitude', 'Start Station Longitude': 'start_station_longitude', 'End Station ID': 'end_station_id', 'End Station Name': 'end_station_name', 'End Station Longitude': 'end_station_longitude', 'End Station Latitude': 'end_station_latitude', 'Bike ID': 'bike_id', 'User Type': 'user_type', 'Birth Year': 'birth_year', 'Gender': 'gender'}, inplace=True)
df1702.rename(columns={'Trip Duration': 'trip_duration', 'Start Time': 'start_time', 'Stop Time': 'stop_time', 'Start Station ID': 'start_station_id', 'Start Station Name': 'start_station_name', 'Start Station Latitude': 'start_station_latitude', 'Start Station Longitude': 'start_station_longitude', 'End Station ID': 'end_station_id', 'End Station Name': 'end_station_name', 'End Station Longitude': 'end_station_longitude', 'End Station Latitude': 'end_station_latitude', 'Bike ID': 'bike_id', 'User Type': 'user_type', 'Birth Year': 'birth_year', 'Gender': 'gender'}, inplace=True)
df1703.rename(columns={'Trip Duration': 'trip_duration', 'Start Time': 'start_time', 'Stop Time': 'stop_time', 'Start Station ID': 'start_station_id', 'Start Station Name': 'start_station_name', 'Start Station Latitude': 'start_station_latitude', 'Start Station Longitude': 'start_station_longitude', 'End Station ID': 'end_station_id', 'End Station Name': 'end_station_name', 'End Station Longitude': 'end_station_longitude', 'End Station Latitude': 'end_station_latitude', 'Bike ID': 'bike_id', 'User Type': 'user_type', 'Birth Year': 'birth_year', 'Gender': 'gender'}, inplace=True)
df1704.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1705.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1706.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1707.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1708.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1709.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1710.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1711.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1712.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1801.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1802.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1803.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1804.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1805.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1806.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1807.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1808.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1809.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1810.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1811.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1812.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1901.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1902.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1903.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1904.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1905.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1906.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1907.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1908.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1909.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1910.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1911.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)
df1912.rename(columns={'tripduration': 'trip_duration', 'starttime': 'start_time', 'stoptime': 'stop_time', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_station_latitude', 'start station longitude': 'start_station_longitude', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station longitude': 'end_station_longitude', 'end station latitude': 'end_station_latitude', 'bikeid': 'bike_id', 'usertype': 'user_type', 'birth year': 'birth_year'}, inplace=True)

In [ ]:
df1712

In [17]:
# Dropping column 'name_localizedValue0' from any datasets containing it
df1802 = df1802.drop("name_localizedValue0", axis='columns')
df1803 = df1803.drop("name_localizedValue0", axis='columns')
df1804 = df1804.drop("name_localizedValue0", axis='columns')
df1805 = df1805.drop("name_localizedValue0", axis='columns')
df1806 = df1806.drop("name_localizedValue0", axis='columns')
df1807 = df1807.drop("name_localizedValue0", axis='columns')

In [18]:
# Creating a list containing the dataframes I want to combine
list = [df1701, df1702, df1703, df1704,df1705, df1706, df1707, df1708, df1709, df1710, df1711, df1712, df1801, df1802, df1803, df1804, df1805, df1806, df1807, df1808, df1809, df1810, df1811, df1812, df1901, df1902, df1903, df1904, df1905, df1906, df1907, df1908, df1909, df1910, df1911, df1912]

In [19]:
# Concatenate list
df_1701_1912 = pd.concat(list, axis = 0)

In [20]:
df_1701_1912.head()

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3165.0,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263.0,Cooper Square & E 7 St,40.729236,-73.990868,498.0,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [21]:
df_1701_1912.shape

(50838483, 15)

In [22]:
df_1701_1912.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50838483 entries, 0 to 955209
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   trip_duration            int64
 1   start_time               object
 2   stop_time                object
 3   start_station_id         float64
 4   start_station_name       object
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           float64
 8   end_station_name         object
 9   end_station_latitude     float64
 10  end_station_longitude    float64
 11  bike_id                  int64
 12  user_type                object
 13  birth_year               float64
 14  gender                   int64
dtypes: float64(7), int64(3), object(5)
memory usage: 6.1+ GB

In [24]:
df_1701_1912.dtypes

trip_duration                int64
start_time                  object
stop_time                   object
start_station_id           float64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                      int64
user_type                   object
birth_year                 float64
gender                       int64
dtype: object

In [25]:
df_1701_1912.columns

Index(['trip_duration', 'start_time', 'stop_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'birth_year', 'gender'],
      dtype='object')

In [27]:
df_1701_1912.describe()

,trip_duration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,birth_year,gender
count,5.083848e+07,5.083581e+07,5.083848e+07,5.083848e+07,5.083581e+07,5.083848e+07,5.083848e+07,5.083848e+07,4.921082e+07,5.083848e+07
mean,9.643137e+02,1.562734e+03,4.073719e+01,-7.398286e+01,1.554065e+03,4.073630e+01,-7.398204e+01,2.711218e+04,1.979512e+03,1.149441e+00
std,1.200331e+04,1.438070e+03,4.835267e-02,6.990440e-02,1.437002e+03,1.601071e-01,2.859377e-01,7.022712e+03,1.203143e+01,5.442090e-01
min,6.100000e+01,7.200000e+01,0.000000e+00,-7.409694e+01,7.200000e+01,0.000000e+00,-7.409694e+01,1.452900e+04,1.857000e+03,0.000000e+00
25%,3.620000e+02,3.790000e+02,4.071757e+01,-7.399530e+01,3.770000e+02,4.071755e+01,-7.399596e+01,2.031300e+04,1.970000e+03,1.000000e+00
50%,6.100000e+02,5.030000e+02,4.073805e+01,-7.398602e+01,5.010000e+02,4.073726e+01,-7.398658e+01,2.802500e+04,1.982000e+03,1.000000e+00
75%,1.065000e+03,3.236000e+03,4.075715e+01,-7.397344e+01,3.236000e+03,4.075660e+01,-7.397371e+01,3.233600e+04,1.989000e+03,1.000000e+00
max,9.735948e+06,3.911000e+03,4.550636e+01,0.000000e+00,3.911000e+03,4.550636e+01,0.000000e+00,4.208800e+04,2.003000e+03,2.000000e+00

In [28]:
# Run a check for missing values in your df_ords dataframe

df_1701_1912.isnull().sum()

trip_duration                    0
start_time                       0
stop_time                        0
start_station_id              2677
start_station_name            2677
start_station_latitude           0
start_station_longitude          0
end_station_id                2677
end_station_name              2677
end_station_latitude             0
end_station_longitude            0
bike_id                          0
user_type                    15909
birth_year                 1627661
gender                           0
dtype: int64

In [29]:
# Check for mixed-type data

for col in df_1701_1912.columns.tolist():
  weird = (df_1701_1912[[col]].applymap(type) != df_1701_1912[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_1701_1912[weird]) > 0:
    print (col)

start_station_name
end_station_name
user_type

In [30]:
# Change mixed-type data

df_1701_1912['start_station_name'] = df_1701_1912['start_station_name'].astype('str')
df_1701_1912['end_station_name'] = df_1701_1912['end_station_name'].astype('str')
df_1701_1912['user_type'] = df_1701_1912['user_type'].astype('str')

In [31]:
# Run a check for duplicate values in your df_ords data.

df_1701_1912_dups = df_1701_1912[df_1701_1912.duplicated()]
df_1701_1912_dups

Empty DataFrame
Columns: [trip_duration, start_time, stop_time, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bike_id, user_type, birth_year, gender]
Index: []

In [ ]:
# Export data to pkl
df_1701_1912.to_pickle(os.path.join(r'/Users/Dimitris/Desktop/CF Data Analytics/Data Immersion/Achievement 6/02 Data/Prepared Data/df_1701_1912.pkl'))